version: 2
jobs:
  install:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-yarn-deps-{{ checksum "yarn.lock" }}
            - v1-yarn-deps-
      - run:
          name: Install Dependencies
          command: |
            yarn install

      - save_cache:
          key: v1-yarn-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
  test:
    docker:
      - image: "circleci/node:latest"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-yarn-deps-{{ checksum "yarn.lock" }}
            - v1-yarn-deps-
      - run:
          name: run tests
          command: |
            yarn test:ci
  release:
    docker:
      - image: "circleci/node:latest"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-yarn-deps-{{ checksum "yarn.lock" }}
            - v1-yarn-deps-
      - run:
          name: release
          command: |
            yarn semantic-release || true

workflows:
  version: 2
  install-and-test:
    jobs:
      - install
      - test:
          requires:
            - install
  release:
    jobs:
      - install
      - release:
          filters:
            branches:
              only: master
          requires:
            - install
